<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_MultistoreBlocks>
            <version>0.0.1</version>
        </Hackathon_MultistoreBlocks>
    </modules>
    <global>
        <models>
            <cms>
                <rewrite>
                    <block>Hackathon_MultistoreBlocks_Model_Cms_Block</block>
                </rewrite>
            </cms>
        </models>
		<helpers>
            <hackathon_multistoreblocks>
                <class>Hackathon_MultistoreBlocks_Helper</class>
            </hackathon_multistoreblocks>
        </helpers>
        <blocks>
	        <Hackathon_MultistoreBlocks>
				<class>Hackathon_MultistoreBlocks_Block</class>
			</Hackathon_MultistoreBlocks>
            <adminhtml>
                <rewrite>
                    <cms_block_grid>Hackathon_MultistoreBlocks_Block_Adminhtml_Cms_Block_Grid</cms_block_grid>
					<cms_block_edit_form>Hackathon_MultistoreBlocks_Block_Adminhtml_Cms_Block_Edit_Form</cms_block_edit_form>
	                <cms_block_edit>Hackathon_MultistoreBlocks_Block_Adminhtml_Cms_Block_Edit</cms_block_edit>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <cms_block_save_before>
                <observers>
                    <hackathon_multistoreblocks_cms_block_before_save>
                        <class>Hackathon_MultistoreBlocks_Model_Observer</class>
                        <method>beforeSaveCmsBlock</method>
                    </hackathon_multistoreblocks_cms_block_before_save>
                </observers>
            </cms_block_save_before>
            <cms_block_load_after>
                <observers>
                    <hackathon_multistoreblocks_cms_block_load_after>
                        <class>Hackathon_MultistoreBlocks_Model_Observer</class>
                        <method>loadAfterCmsBlock</method>
                    </hackathon_multistoreblocks_cms_block_load_after>
                </observers>
            </cms_block_load_after>
        </events>
    </adminhtml>
</config>
